# **Assignment No 2 - Iskren Dinev**
## Student Code - 200013533
### GitHub URL - https://github.com/IskrenDinev/PY4SA23_Assignment.git

**Python Basics**

Task 1: Create an If...Else statement that will test whether a number is divisible by three. "YOUR 
VALUE is divisible by 3" should be printed if the value is divisible by three. "YOUR VALUE is not 
divisible by three" should be printed if it is not divisible by three. Test the statement on a numeric 
variable. Upper case text in the print statement should be replaced with the tested number.

In [1]:
#Assigning a value - tested number
value = 355

#Coding to find out whether a number is divisible by 3
if value % 3 == 0:
    print(str(value)+" is divisible by 3")
else:
    print(str(value)+" is not divisible by three")

355 is not divisible by three

Task 2: Create an If...Else statement that will test whether a type of fruit, represented as a text string, 
is in a list of acceptable fruits (apple, orange, pear, kiwi, or strawberry). If the fruit is on the list, the 
following should be printed: "YOUR FRUIT is acceptable." If not, then the following should be 
printed: "YOUR FRUIT is not acceptable." Upper case text in the print statement should be replaced 
with the tested fruit.

In [2]:
#Assigning a fruit value
fruit = "peach"

#Creating a fruit string
fruit_list = ["apple", "orange", "pear", "kiwi", "strawberry", "banana"]

#Creating the code to check if the fruit is in the fruit list
if fruit in fruit_list:
    print(str(fruit)+" is acceptable")
else:
    print(str(fruit)+" is not acceptable")

peach is not acceptable

Task 3: Create a function to calculate the distance between two coordinates using the haversine
formula. Write the following formula where the input parameters are a pair of coordinates as two 
lists

In [18]:
!pip install haversine
import haversine as hs

#Coordinates for Yambol (lstY) and Skelmerdale (lstS)
lstY = (42.4842, 26.5035)
lstS = (53.5493, -2.7747)

#Calculating the Distance
hs.haversine(lstY, lstS)

Requirement already satisfied: haversine in c:\users\iskre\miniconda3\envs\py4sa\lib\site-packages (2.8.0)

2475.806754272166

**Pandas and NumPy**

Question 1: How many trees are of the Quercus or Acer genus?

In [27]:
import pandas as pd

trees_df = pd.read_csv("Assignment 2 Data/portland_park_trees.csv", sep=",", header=0)
trees_df.head(10)

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
5,6,431,2017/05/09,PSME,32.1,Fair,95.0,35.0,39.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
6,7,432,2017/05/09,PSME,28.4,Fair,103.0,40.0,40.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
7,8,433,2017/05/09,PSME,27.2,Fair,105.0,45.0,29.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
8,9,434,2017/05/09,PSME,35.2,Fair,97.0,56.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
9,10,435,2017/05/09,PSME,32.4,Fair,112.0,35.0,33.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

In [34]:
#How many Quercus trees
just_quercus = trees_df[trees_df["Genus"]=="Quercus"]
print("Number of Quercus trees:")
print(len(just_quercus))
print(' ')

#How many Acer trees
just_acer = trees_df[trees_df["Genus"]=="Acer"]
print("Number of Acer trees:")
print(len(just_acer))
print(' ')

#How many Quercus and Acer trees
print("Number of Acer and Quercus trees:")
print(len(just_acer)+len(just_quercus))

Number of Quercus trees:
2089

Number of Acer trees:
3586

Number of Acer and Quercus trees:
5675

Question 2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [35]:
#How many Quercus trees with DBH of 50+ inch
quercus_dbh50 = trees_df.query('Genus=="Quercus" and DBH > 50')
print("Number of Quercus trees with a DBH of 50+ inches")
print(len(quercus_dbh50))
print(' ')

#How many Acer trees with DBH of 50+ inch
acer_dbh50 = trees_df.query('Genus=="Acer" and DBH > 50')
print("Number of Acer trees with a DBH of 50+ inches")
print(len(acer_dbh50))
print(' ')

#How many Acer and Quercus trees with DBH of 50+ inch
print("Number of Quercus and Acer trees with a DBH of 50+ inches")
print(len(quercus_dbh50)+len(acer_dbh50))

Number of Quercus trees with a DBH of 50+ inches
80

Number of Acer trees with a DBH of 50+ inches
44

Number of Quercus and Acer trees with a DBH of 50+ inches
124

Question 3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [56]:
#Mean DBH for Quercus
just_quercus = trees_df[trees_df["Genus"]=="Quercus"]
quercus_mean = just_quercus["DBH"].mean()

#Mean DBH for Acer
just_acer = trees_df[trees_df["Genus"]=="Acer"]
acer_mean = just_acer["DBH"].mean()

#Mean DBH for Fraxinus
just_fraxinus = trees_df[trees_df["Genus"]=="Fraxinus"]
fraxinus_mean = just_fraxinus["DBH"].mean()

#Which gensus has the highest mean DBH
#Creating a list with all genera
mean_list = [
    ['Acer DBH mean', acer_mean],
    ['Quercus DBH mean', quercus_mean],
    ['Fraxinus DBH mean', fraxinus_mean]
]

#Sorting the genera based on the second value
def sort_mean(x):
    return x[1]
sorted_mean = sorted(mean_list, key=sort_mean, reverse=True)
print(sorted_mean)

#The print shows that quercus has the highest DBH mean

[['Quercus DBH mean', 23.56823839157492], ['Acer DBH mean', 18.419085331846066], ['Fraxinus DBH mean', 11.033609693877551]]

Question 4: How many different species of trees are recorded in the Acer genus?

In [59]:
just_acer = trees_df[trees_df["Genus"]=="Acer"]
grouped_species = just_acer.groupby("Genus_spec")["Genus_spec"].describe()
counted_species = (len(grouped_species))
print(counted_species)

20

Question 5: World Cities

In [62]:
cities_df = pd.read_csv("Assignment 2 Data/world_cities.csv", sep=",", header=0)
cities_df.head(10)

                 city       country    pop    lat    lon  capital
0  'Abasan al-Jadidah     Palestine   5629  31.31  34.34        0
1  'Abasan al-Kabirah     Palestine  18999  31.32  34.35        0
2        'Abdul Hakim      Pakistan  47788  30.55  72.11        0
3  'Abdullah-as-Salam        Kuwait  21817  29.36  47.98        0
4               'Abud     Palestine   2456  32.03  35.07        0
5             'Abwein     Palestine   3434  32.03  35.20        0
6            'Adadlay       Somalia   9198   9.77  44.65        0
7              'Adale       Somalia   5492   2.75  46.30        0
8               'Afak          Iraq  22706  32.07  45.26        0
9               'Afif  Saudi Arabia  41731  23.92  42.93        0

In [66]:
#Creating a new column pop_M in millions
cities_df['pop_M'] = cities_df['pop']/1000000

                     city       country     pop    lat    lon  capital  \
0      'Abasan al-Jadidah     Palestine    5629  31.31  34.34        0
1      'Abasan al-Kabirah     Palestine   18999  31.32  34.35        0
2            'Abdul Hakim      Pakistan   47788  30.55  72.11        0
3      'Abdullah-as-Salam        Kuwait   21817  29.36  47.98        0
4                   'Abud     Palestine    2456  32.03  35.07        0
...                   ...           ...     ...    ...    ...      ...
43640           az-Zubayr          Iraq  124611  30.39  47.71        0
43641            az-Zulfi  Saudi Arabia   54070  26.30  44.80        0
43642       az-Zuwaytinah         Libya   21984  30.95  20.12        0
43643        s-Gravenhage   Netherlands  479525  52.07   4.30        0
43644     s-Hertogenbosch   Netherlands  135529  51.68   5.30        0

          pop_M
0      0.005629
1      0.018999
2      0.047788
3      0.021817
4      0.002456
...         ...
43640  0.124611
43641  0.054070
43642  0.021984
43643  0.479525
43644  0.135529

[43645 rows x 7 columns]

In [69]:
#Removing the pop column
cities_df = cities_df.drop('pop', axis=1)

KeyError: "['pop'] not found in axis"

In [72]:
#Istanbul city
instanbul_data = cities_df[cities_df['city'] == 'Istanbul']
print(instanbul_data)

           city country   lat   lon  capital     pop_M
15656  Istanbul  Turkey  41.1  29.0        0  10.03483

In [77]:
#Subsetting the biggest 5 cities in Turkey
(cities_df.query("country == 'Turkey'")
   .sort_values(by="pop_M", ascending=False)
   .head(5))

           city country    lat    lon  capital      pop_M
15656  Istanbul  Turkey  41.10  29.00        0  10.034830
1515     Ankara  Turkey  39.93  32.85        1   3.579706
15819     Izmir  Turkey  38.43  27.15        0   2.557851
5843      Bursa  Turkey  40.20  29.08        0   1.458459
367       Adana  Turkey  37.00  35.32        0   1.271894

**Python Data Visualisation**

Graph 1: Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis 
and tree height mapped to the y-axis (Hint: You will need to use the “Genus”, “DBH”, and 
“TreeHeight” attributes.).

Graph 2: Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis, tree 
height mapped to the y-axis, and tree species mapped to hue (Hint: You will need to use the 
“Genus”, “Genus_spec”, “DBH”, and “TreeHeight” attributes.)

Graph 3: Create a boxplot of DBH for just the Ulmus genus differentiated by species (or, each species 
should have its own boxplot)

Graph 4: Combine Graphs 1 and 3 into a single figure. Do not plot a legend for any of the graphs.